body {
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 11px;
  background: rgb(250, 250, 250);
}

.container-fluid {
  padding: 0;
  margin: 0;
}
.main-color-bg {
  color: #4e8920;
}
#engagementperc {
  float: left;
}
.bg-th {
  background: #7a7a7a;
}
.svg {
  width: 100px;
  height: auto;
}
table {
  border: 1px solid rgba(0, 0, 0, 0.125);
}
td {
  text-align: center;
  margin: auto;
}
li {
  margin: auto !important;
  text-align: center;
}

th {
  /* font-size: .8rem; */
}

.progress {
  width: 100%;
  position: relative;
  padding: 0px;
  margin: 0;
  align-content: center;

  height: 30px;
}

#percent {
  position: absolute;
  left: 50%;
}

.bar {
  margin: auto;
  padding: 0;
  height: 30px;
  display: inline-block;
  position: relative;
  color: white;
}

/* First Progress Bar */
.bar0 {
  background-color: #c45850;
}
/* second Progress Bar */

.bar2 {
  background-color: #3e95cd;
}
/* third Progress Bar */

.bar3 {
  background-color: #3cba9f;
}

/* 4th Progress Bar */

.bar4 {
  background-color: #e8c3b9;
}
/* 5th Progress Bar */

.bar5 {
  background-color: #8e5ea2;
}

.danger {
  color: red;
}
.success {
  color: green;
}

.AScore {
  font-size: 1.3em;
  color: #3cba9f;
}
.BScore {
  font-size: 1.3em;
  color: #3e95cd;
}
.CScore {
  font-size: 1.3em;
  color: #8e5ea2;
}
.FScore {
  font-size: 1.3em;
  color: #c45850;
}

section {
  margin-top: 10px;
}
.card-holder {
  background: white;
  min-height: 15vh;
  border: 1px solid rgba(0, 0, 0, 0.125);
}

.chart {
  display: inline-block;
  margin: auto;
  height: 40vh;
  width: 20vw;
  /* padding: 20px; */
}

.chartArea {
  display: inline-block;
  /* margin: auto; */
  height: 40vh;
  width: 40vw;
  /* padding: 20px; */
}

.bar:hover,
.bar2:hover,
.bar3:hover,
.bar4:hover,
.bar5:hover {
  font-size: 1.3em;
  font-weight: bold;
  color: black;
}
@media only screen and (max-width: 425px) {
  body {
    font-size: 0.6em;
  }
  .card-holder {
    /* color: red; */
    width: 100vw;
    margin: auto;
    padding: 0;
    justify-content: center;

    border: 1px solid rgba(0, 0, 0, 0.125);
  }
  #doughnutDiv {
    margin: 10% !important;
    width: 100vw;
  }
  #AreaDiv {
    margin: 0% 10% 0% 10% !important;
    width: 100vw;
  }
}
@media only screen and (max-width: 600px) {
  body {
    margin: 0;
    padding: 0;
    font-size: 0.6em;
  }
  /* .card {
    font-size: 0.6em !important;
    height: 100%;
  } */
}

@media only screen and (max-width: 1440px) {
  body {
    font-size: 0.6em;
  }
  /* .card {
    font-size: 0.6em !important;
    height: 100%;
  } */
}
